# Virtual environment
venv/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Synthetic generated datasets
generated_data/

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp